body {
	font-family: DejaVuSerif;
	font-size: 12pt;
	line-height: 1.4;
	vertical-align: baseline;
}

.toc {
	list-style-type: none;
}

.toc a {
	color: #000;
	text-decoration: none;
}

.toclink {
	color: #000;
}

h1, h2 {
	page-break-before: always;
}

h1.nobreak, h2.nobreak {
	page-break-before: never;
}

.pagebreak {
	page-break-before: always;
}

.cover {
	width: 50%;
	margin-bottom: 2em;
}

h1 {
	font-size: 600%;
	margin-right: 1em;
	text-align: center;
	font-family: serif;
	padding-bottom: 0;
	margin-bottom: 0;
	line-height: 1;
}

.titlequote {
	text-align: center;
	margin-left: 7em;
	color: #999;
	font-weight: bold;
	margin-bottom: 2em;
	font-size: 120%;
	font-family: monospace;
}

h2 {
	font-size: 300%;
	font-weight: 700;
}

h3 {
	font-size: 200%;
	padding-bottom: 1em;
}

pre {
	font-size: 85%;
	line-height: 1.6;
	margin-left: 2em;
}

cover {
	width: 100px;
}
